/******************************************************************
RULE FOR HALL
***************************************************************/

:root {

    --f-nav-bg: #2c3e50FF;
    --f-jumbotron-bg: #1abc9cFF;
    --f-footer-top-bg: #3a546dFF;
    --f-footer-bottom-bg: #2c3e50FF;
    --f-lighter: white;

}


.icon_star {
    color: white;
    font-size: 300%;
}


/******************************************************************
DEBUG   
***************************************************************/


.debug * {

    border: 1px dashed;

}

.debug .h_100px {
    height: 100px;
}

.debug .h_50px {
    height: 50px;
}

.debug .bg_color_test1 {
    background-color: blue;
}

.debug .bg_color_test2 {
    background-color: orange;
}

.debug .bg_color_test3 {
    background-color: rgb(87, 51, 138);
}

.debug .bg_color_test4 {
    background-color: rgb(115, 89, 40);
}

.debug .bg_color_test5 {
    background-color: rgb(169, 46, 46);
}

.debug .bg_color_test6 {
    background-color: rgb(70, 183, 57);
}

.debug #jumbotron {}

.debug .debug .jumbo_title {
    height: 100px;
    background-color: rgb(0, 255, 42);
}



.debug .jumbo_client {
    height: 100px;
    background-color: rgb(0, 255, 42);

}

.debug h2 {
    height: 150px;
    background-color: var(--f-nav-bg);
}

.debug .img_portfolio {

    height: 250px;
    background-color: orange;

}


.debug .ab_txt_l {
    height: 150px;
    background-color: yellow;
}

.debug .ab_txt_r {
    height: 150px;
    background-color: rgb(0, 85, 255);
}

.debug input,
h4 {
    background-color: rgb(122, 133, 255);
}

.debug .footer_location,
.footer_social,
.footer_info,
.footer_bottom, {
    height: 100px;
    background-color: wheat;
}

.debug .user_data {
    background-color: orange;
}




/******************************************************************
Utility
***************************************************************/



.icon_star {
    color: white;
    font-size: 300%;
}

.icon_star_black{
    font-size: 300%;
}

img{
    width: 100%;

}



/******************************************************************
HEADER
***************************************************************/


.nav_bg {
    background-color: var(--f-nav-bg);

}


/******************************************************************
MAIN
***************************************************************/


/*****JUMBOTRONE**********************************************************/


#jumbotron {
    background-color: var(--f-jumbotron-bg);
}

.img_jumbo {
    height: 300px;
}


/*****PORTFOLIO**********************************************************/



/*****ABOUT**********************************************************/


#about {
    background-color: var(--f-jumbotron-bg);
}


/*****CONTACT**********************************************************/


.btn_send {
    background-color: var(--f-jumbotron-bg);
    color: var(--f-lighter);
    border-radius: 0.3rem;
    border: none;
    height: 2rem;
    width: 4rem;
}


/******************************************************************
FOOTER
***************************************************************/

.footer_top_bg {
    background-color: var(--f-footer-top-bg);
}

.footer_bottom_bg {
    background-color: var(--f-footer-bottom-bg);
}




/******************************************************************
MEDIA QUERY
***************************************************************/


@media screen and (min-width: 768px) {

    .off_md {
        display: none;
    }

    .jumbo_title{


        font-size: 400%;
    }



}